<h1><%= @event.name %></h1>

<hr>
<ul style="font-size: 18px;">
  <li>Status: <%= t(@event.status, :scope => "event.status")%></li>
  <li>description: <%= sanitize @event.description %></li>
  <li>Category: <%= @event.category.try(:name) %></li>
</ul>
